
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeasion.blog.dao.UserInfoDao">


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!-- -->
        delete from user_info
        where
                USER_ID = #{ userId }
    </delete>

    <insert id="insert" parameterType="com.jeasion.blog.pojo.UserInfo">
        <!-- -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_info (
                USERNAME,                PASSWORD,                LOGO,                USER_LEVEL,                IS_VALID,                CREATED_BY,                CREATED_TIME,                UPDATED_BY,                UPDATED_TIME        )
        values (
                #{ username},                #{ password},                #{ logo},                #{ userLevel},                #{ isValid},                #{ createdBy},                #{ createdTime},                #{ updatedBy},                #{ updatedTime}        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.jeasion.blog.pojo.UserInfo">
        <!-- -->
        update user_info
        set
                USERNAME = #{ username} ,                PASSWORD = #{ password} ,                LOGO = #{ logo} ,                USER_LEVEL = #{ userLevel} ,                IS_VALID = #{ isValid} ,                CREATED_BY = #{ createdBy} ,                CREATED_TIME = #{ createdTime} ,                UPDATED_BY = #{ updatedBy} ,                UPDATED_TIME = #{ updatedTime}         where
                id = #{ USER_ID }
    </update>


    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!-- -->
        select
        <include refid="Base_Column_List" />
        from user_info
        where id = #{ id }
    </select>

    <select id="countForPage" parameterType="map" resultType="Long">
        <!-- -->
        select
        count(*)
        from
        user_info
        where 1=1
        <if test="beginDate != null and beginDate != ''">
            and create_date <![CDATA[>=]]>  #{beginDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and  create_date <![CDATA[<=]]> #{endDate}
        </if>
    </select>

    <select id="listForPage" parameterType="map" 	resultType="com.lzn.mybatisplus.codegenerator.export.UserInfoVO">
        <!-- -->
        select
        <include refid="Base_Column_List" />
        from
        user_info
        where 1=1
        <if test="beginDate != null and beginDate != ''">
            and create_date <![CDATA[>=]]>  #{beginDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and  create_date <![CDATA[<=]]> #{endDate}
        </if>
        limit #{start}, #{limit}
    </select>
</mapper>
